.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #021393;
  color: gold;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

span > span,
span > i {
  margin: 0 10px;
  cursor: pointer;
  font-size: larger;
}

span > span {
  font-size: medium;
}

span > span:hover {
  text-decoration: underline;
}
